*{
    margin: 0;
    padding: 0;
}

body{
    background:white 100%;
}
/*-header-*/

header{
    height: 9vh;
    justify-content: top;
}
a{
    color: rgba(88, 86, 86);
    padding-left: 5vh;
}

h1{
    position: relative;
    margin-top: 11vh;
    padding-left: 12vh;
    font-size: 8vh;
}

h2{
    position: relative;
    margin-top: 0.5vh;
    padding-left: 12vh;
    font-size: 2.5vh;
    color: rgba(88, 86, 86);
}
h3{
    position: relative;
    margin-top: 0.5vh;
    padding-left: 12vh;
    font-size: 5vh;
    color: black;
    letter-spacing: -0.6vh;
}
    
img{
    width: 60vh;
    height: 70vh;
    margin-top: -29vh;
    padding-left: 130vh;
    
}


.logomarca{
    position: absolute;
    padding-top: 3.3vh;
}

.headeruno{
    position: relative;
    padding-top: 4.8vh;
    justify-content: center;
    padding-left: 60vh;
    margin-top: -4vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}

.flechauno{
    position: absolute;
    padding-top: 0.8vh;
    padding-left: 24vh;
    
}
.flechados{
    position: absolute;
    padding-top: 0.8vh;
    padding-left: 45vh;
}

.flechados{
    position: absolute;
    padding-top: 0.8vh;
    padding-left: 45vh;
}
.flechatres{
    position: absolute;
    padding-top: 1.5vh;
    padding-left: 142vh;
    font-size: 2vh;
}
.divdeboton{
    
    display: flex;
    justify-content: right;
    padding-right: 16vh;
    padding-top: 5vh;
    

}

.boton{
    position: absolute;
    padding-top: 4.5vh;
    padding-left: 164vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transform: scale(1);
    background-color: rgb(20, 20, 199);
    border: 0.1vh solid rgb(20, 20, 199);
    border-radius: 60vh;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: white;

}
.boton:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.3vh solid rgb(20, 20, 199);
    height: 30px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
    
}
.boton{
    transition: background 0.3s;
                 transform: 0.2s;
}

.menu a.activo{
    font-weight: bolder;
    font-size: 2.5vh;
    color: black;
}
.titulo{
    position: absolute;
}
.titulodos{
    margin-top: 1vh;
}
.titulotres{
    margin-top: 1vh;
}
.texto{
    position: absolute;
    padding-top: 4vh;
}

.divbotondos{
    position: relative;
    
    padding-right: 16vh;
    
}
.botondos{
    margin: 0;
    position: absolute;
    top: -25.7vh;
    left: 85vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    padding-top: 5vh;
    padding-left: 588vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transform: scale(1);
    background-color: rgb(20, 20, 199);
    border: 0.1vh solid rgb(20, 20, 199);
    border-radius: 60vh;
    height: 46px;
    padding: 2px 30px 2px 30px;
    color: white;
}
.botondos:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.5vh solid rgb(20, 20, 199);
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
    font-size: 14px;
    
}
.botondos{
    transition: background 0.3s;
                 transform: 0.2s;
}
.divinput{
    
    width:max-content;
    padding: 0 8vh 0 19vh;

}
.input{
    position: absolute;
    justify-content: left;
    font-size: 14px;
    background-color: rgb(247, 241, 241)  ;
    left: 11.5vh;
    padding-top: 4.9vh;
    padding-left: 63vh;
    bottom: 24vh;
    border: 0.1vh solid  rgb(214, 211, 211) ;
    border-radius: 60vh;   
}


.bi-search{
    position:absolute;
    top:68vh;
    left: 13vh;
}
.divcontenedordos{
    position: relative;
    padding-right: 16vh;
}
.carteluno{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 12vh;
    bottom: 7.3vh;
}
.carteldos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 42vh;
    bottom: 15.5vh;
}
.carteltres{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 70vh;
    bottom: 15.5vh;

}
.pcarteluno{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 12vh;
    bottom: 3.5vh;

}
.pcarteldos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 42vh;
    bottom: 12vh;
}
.pcarteltres{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color:rgba(88, 86, 86);
    padding-left: 70vh;
    bottom: 12vh;
}
.textopaginados{
    position: absolute;
    padding-top: 10vh;
    font-size: 7vh;
}

.textodos{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.divpdos{
    height: 200px;
    top: 103vh;
    left: 35vh;
    position: relative;
}
.divpdosdos{
    padding-top: 1vh;
    left: 35vh;
    top: 74vh;
}
.divimgdos{
    display: flex;
    justify-content: center;
    
}
.paginadosimg{
    width: 38vh;
    height: 38vh;
    border-radius: 10%;
    margin-top: 40vh;
    padding-left: 2vh;
    
}
.divcontenedortres{
    position: relative;
    padding-right: 16vh;
}
.cartelunopdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 32vh;
    bottom: -8vh;
}
.cartelunopdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 32vh;
    bottom: -14vh;
}
.carteldospdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 71.8vh;
    bottom: -77.3vh;
}
.carteldospdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 71.8vh;
    bottom: -83.3vh;
}
.carteltrespdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 111.5vh;
    bottom: -77.3vh;

}
.carteltrespdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 111.5vh;
    bottom: -83.3vh;

}
.cartelcuatropdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 151.4vh;
    bottom: -77.3vh;

}
.cartelcuatropdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 151.5vh;
    bottom: -83.3vh;

}
.pcartelunopdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 34vh;
    bottom: -18vh;

}
.pcarteldospdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 74vh;
    bottom: -87.5vh;
}
.pcarteltrespdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color:rgba(88, 86, 86);
    padding-left: 114vh;
    bottom: -87.5vh;
}
.pcartelcuatropdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color:rgba(88, 86, 86);
    padding-left: 154.5vh;
    bottom: -87.55vh;
}

.ubiuno{
    position: absolute;
    padding-left: 31.2vh;
    bottom: -87.55vh;
}
.ubidos{
    position: absolute;
    padding-left: 71.5vh;
    bottom: -87.55vh;
}

.ubitres{
    position: absolute;
    padding-left: 111.5vh;
    bottom: -87.55vh;
}
.ubicuatro{
    position: absolute;
    padding-left: 152vh;
    bottom: -87.55vh;
}
.divprecios{
    position: relative;
   
}
.preciouno{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 20%;
    left: 40vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;
    

}
.preciodos{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 20%;
    left: 80vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;

    
}
.preciotres{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 12%;
    left: 120vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.preciocuatro{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 20%;
    left: 160vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.texfinalpdos{
    position: absolute;
    padding-top: 10vh;
    top:190vh;
}
.botonfinalpdos{
    margin: 0;
    position: absolute;
    top: 198vh;
    left: 182vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    padding-top: 5vh;
    padding-left: 588vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transform: scale(1);
    background-color: white;
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 46px;
    padding: 2px 30px 2px 30px;
    color: rgb(41, 36, 36);
}
.botonfinalpdos:hover{
    transform: scale(1);
    background-color: rgb(41, 36, 36) ;
    border: 0.5vh solid rgb(41, 36, 36);
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:white ;
    font-size: 14px;
    
}
.botonfinalpdos{
    transition: background 0.3s;
                 transform: 0.2s;
}
.divimgtres{
    position: absolute;
    padding-top: 10vh;
    top:190vh;
    display: flex;
    justify-content: center;
    
}

.paginatresimguno{
    margin: 0;
    position: relative;
    top: -10vh;
    left: 60vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    width: 80vh;
    height: 58vh;
    border-radius: 10%;
    margin-top: 90vh;
    padding-left: 2vh;
    
}
.paginatresimgdos{
    margin: 0;
    position: absolute;
    top: 12vh;
    left: 155.5vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    width: 80vh;
    height: 58vh;
    border-radius: 10%;
    margin-top: 40vh;
    padding-left: 2vh;
    
}
.titulopagtres{
    position: absolute;
}
.textounopagtres{
    margin: 0;
    position: absolute;
    font-size: 7vh;
    top: 172vh;
    left: 36vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
    
}
.punopagtres{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    top: 190vh;
    left: 56vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.titulodospagtres{
    position: absolute;
}
.textodospagtres{
    margin: 0;
    position: absolute;
    font-size: 7vh;
    top: 232vh;
    left: 131.5vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
    
}
.pdospagtres{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 250vh;
    left: 156vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.textounopaginacuatro{
    position: absolute;
    padding-top: 130vh;
    font-size: 7vh;
}
.textodospaginacuatro{
    position: absolute;
    padding-top: 140vh;
    font-size: 7vh;
}
.punopagcuatro{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 285vh;
    left: 156vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.divpagcuatro{
    position: relative;
   
}
.numerouno{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 20%;
    left: 40vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.unotitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 36.5vh;
    bottom: -195vh;

}
.unop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 163vh;
    left: 77vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.numerodos{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 20%;
    left: 84vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.dostitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 80vh;
    bottom: -195vh;

}
.dosp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 163vh;
    left: 120vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.numerotres{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 12%;
    left: 128vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.trestitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 124vh;
    bottom: -195vh;

}
.tresp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 163vh;
    left: 164vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.numerocuatro{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 20%;
    left: 172vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.cuatrotitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 168vh;
    bottom: -195vh;

}
.cuatrop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 163vh;
    left: 207.5vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.texfinalpcuatro{
    position: absolute;
    padding-top: 10vh;
    top:220vh;
}
.botonfinalpcuatro{
    margin: 0;
    position: absolute;
    top: 228vh;
    left: 182vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    padding-top: 5vh;
    padding-left: 588vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transform: scale(1);
    background-color: white;
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 46px;
    padding: 2px 30px 2px 30px;
    color: rgb(41, 36, 36);
}
.botonfinalpcuatro:hover{
    transform: scale(1);
    background-color: rgb(41, 36, 36) ;
    border: 0.5vh solid rgb(41, 36, 36);
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:white ;
    font-size: 14px;
    
}
.botonfinalpcuatro{
    transition: background 0.3s;
                 transform: 0.2s;
}
.titulounopaginacinco{
    position: absolute;
  
    width: 200vh;
    padding-top: 230vh;
    font-size: 7vh;
}
.titulodospaginacinco{
    position: absolute;
    width: 200vh;
    padding-top: 240vh;
    font-size: 7vh;
}
.textopagcinco{
    position: absolute;
    margin: 0 auto;
    
    padding-top: 260vh;
}
.divimgcinco{
    position: absolute;
    margin: 0 auto;
    left: 160vh;
    padding-top: 10vh;
    top:365vh;
    justify-content: center;
    
    
}
.paginacincoimg{
    margin: 0;
    position: relative;
    top: 8vh;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 70vh;
    height: 95vh;
    border-radius: 10%;
    margin-top: 90vh;
    padding-left: 0vh;
    
}
.divpagcinco{
    display: block;
    position: relative;
    
   
}
.okuno{
    margin: 0;
    position: absolute;
    margin-top: 276vh;
    top: 20%;
    left: 15vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.okunotitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 23vh;
    bottom: -279vh;

}
.okunop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 115vh;
    left: 63.2vh;
    transform: translate(-50%, -50%);
    padding-top: 260vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.okdos{
    margin: 0;
    position: absolute;
    margin-top: 300vh;
    top: 20%;
    left: 15vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.okdostitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 23vh;
    bottom: -303vh;

}
.okdosp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 263vh;
    left: 63.2vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.oktres{
    margin: 0;
    position: absolute;
    transform: scale(1);
    margin-top: 321vh;
    top: 12%;
    left: 15vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.oktrestitulo{
    position: absolute;
    transform: scale(1);
    justify-content: left;
    font-size: 30px;
    padding-left: 23vh;
    bottom: -324vh;

}
.oktresp{
    margin: 0;
    position: absolute;
    transform: scale(1);
    color:rgba(88, 86, 86);
    width: 500px;
    top: 285vh;
    left: 63.2vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}

.checkuno{
    position: absolute;
    padding-left: 12.5vh;
    bottom: -366vh;
    font-size: 5vh;
    color: white;
}
.checkdos{
    position: absolute;
    padding-left: 12.5vh;
    bottom: -390vh;
    font-size: 5vh;
    color: white;
}

.checktres{
    position: absolute;
    transform: scale(1);
    padding-left: 12.5vh;
    bottom: -411vh;
    font-size: 5vh;
    color:white;
}
.checktres.oktres.oktresp.oktrestitulo:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.3vh solid rgb(20, 20, 199);
    height: 30px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
    
}




a:hover{
    animation: backwards;
}

a:link{text-decoration: none;
        }

::placeholder{
    color: rgb(219, 214, 214);
    position: absolute;
    left: 5vh;
    top:2.5vh
}