@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@media(max-width:480px){
    nav{
        display: none;
    }
    .menuhambur{
        display: block;
    }
    .boton{
        display: none;
    }
    
    h1{
        text-align: center;
        
    }
    .titulotres{
        text-align: center;  
        justify-content: center;
        
    }
    .titulodos{
        text-align: center;
    }
    h2{
        display: none;
    }
    .casauno{
        display: block;
       
    }
    .divinput{
        display: none;
    }
    .divbotondos{
        display: none;
    }
    .divcontenedordos{
        display: none;
    }
    .carteldos{
        display: none;
    }
    .carteltres{
        display: none;
    }
    .pcarteluno{
        display: none;
    }
    .pcarteldos{
        display: none;
    }
    .pcarteltres{
        display: none;
    }
}
*{
    margin: 0;
    padding: 0;
}

body{
    background:white 100%;
}
/*-header-*/

header{
    height: 9vh;
    justify-content: top;
}
a{
    color: rgba(88, 86, 86);
    padding-left: 5vh;
}

h1{
    position: relative;
    margin-top: 11vh;
    padding-left: 12vh;
    font-size: 8vh;
    font-family: 'Nunito', sans-serif;
}

h2{
    position: relative;
    margin-top: 0.5vh;
    padding-left: 12vh;
    font-size: 2.5vh;
    color: rgba(88, 86, 86);
    
}
h3{
    position: relative;
    margin-top: 0.5vh;
    padding-left: 12vh;
    font-size: 5vh;
    color: black;
    letter-spacing: -0.6vh;
}
footer{
    height: 100%;
    width: 100%;
    background-image: rgb(190, 185, 185);
}
.menuhamburguesa{
    width: 80px;
    display: none;
}
.menuhambur{
    display: none;
}

.casauno{
    margin: 0;
    position: relative;
    top: 34vh;
    left: 172vh;
    border-radius: 10%;
    transform: translate(-50%, -50%);
    justify-content: left;
    width: 60vh;
    height: 70vh;
    margin-top: -29vh;
    padding-left: 2vh;
    
}




.headeruno{
    position: relative;
    padding-top: 4.8vh;
    justify-content: center;
    padding-left: 60vh;
    margin-top: -4vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}

.flechauno{
    position: absolute;
    padding-top: 0.8vh;
    padding-left: 24vh;
    
}
.flechados{
    position: absolute;
    padding-top: 0.8vh;
    padding-left: 45vh;
}

.flechados{
    position: absolute;
    padding-top: 0.8vh;
    padding-left: 45vh;
}
.flechatres{
    position: absolute;
    padding-top: 0.8vh;
    padding-left: 82vh;
    font-size: 2vh;
}
.divdeboton{
    
    display: flex;
    justify-content: right;
    padding-right: 16vh;
    padding-top: 5vh;
    

}

.boton{
    position: absolute;
    padding-top: 4.5vh;
    padding-left: 164vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transform: scale(1);
    background-color: rgb(20, 20, 199);
    border: 0.1vh solid rgb(20, 20, 199);
    border-radius: 60vh;
    height: 30px;
    padding: 2px 30px 2px 30px;
    color: white;

}
.boton:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.3vh solid rgb(20, 20, 199);
    height: 30px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
    
}
.boton{
    transition: background 0.3s;
                 transform: 0.2s;
}

.menu a.activo{
    font-weight: bolder;
    font-size: 2.5vh;
    color: black;
}
.titulo{
    position: absolute;
    font-family: 'Nunito', sans-serif;
}
.titulodos{
    margin-top: 1vh;
    font-family: 'Nunito', sans-serif;
}
.titulotres{
    margin-top: 1vh;
    font-family: 'Nunito', sans-serif;
}
.texto{
    position: absolute;
    padding-top: 4vh;
}

.divbotondos{
    position: relative;
    
    padding-right: 16vh;
    
}
.botondos{
    margin: 0;
    position: absolute;
    top: -22.8vh;
    left: 85vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    padding-top: 5vh;
    padding-left: 588vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transform: scale(1);
    background-color: rgb(20, 20, 199);
    border: 0.1vh solid rgb(20, 20, 199);
    border-radius: 60vh;
    height: 46px;
    padding: 2px 30px 2px 30px;
    color: white;
}
.botondos:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.5vh solid rgb(20, 20, 199);
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
    font-size: 14px;
    
}
.botondos{
    transition: background 0.3s;
                 transform: 0.2s;
}
.divinput{
    
    width:max-content;
    padding: 0 8vh 0 19vh;

}
.input{
    position: absolute;
    justify-content: left;
    font-size: 14px;
    background-color: rgb(247, 241, 241)  ;
    left: 11.5vh;
    padding-top: 4.9vh;
    padding-left: 63vh;
    bottom: 16vh;
    border: 0.1vh solid  rgb(214, 211, 211) ;
    border-radius: 60vh;   
}


.bi-search{
    position:absolute;
    top:79vh;
    left: 13vh;
}
.divcontenedordos{
    position: relative;
    padding-right: 16vh;
}
.carteluno{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 12vh;
    bottom: 5.6vh;
}
.carteldos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 42vh;
    bottom: 6.5vh;
}
.carteltres{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 70vh;
    bottom: 6.5vh;

}
.pcarteluno{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 12vh;
    bottom: 2vh;

}
.pcarteldos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 42vh;
    bottom: 3vh;
}
.pcarteltres{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color:rgba(88, 86, 86);
    padding-left: 70vh;
    bottom: 3vh;
}
.textopaginados{
    position: absolute;
    padding-top: 2vh;
    font-size: 7vh;
}

.textodos{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.divpdos{
    height: 200px;
    top: 106vh;
    left: 35vh;
    position: relative;
}
.divpdosdos{
    padding-top: 1vh;
    left: 35vh;
    top: 75vh;
}
.divimgdos{
    display: flex;
    justify-content: center;
    
}
.paginadosimg{
    width: 38vh;
    height: 38vh;
    border-radius: 10%;
    margin-top: 33vh;
    padding-left: 2vh;
    
}
.divcontenedortres{
    position: relative;
    padding-right: 16vh;
}
.cartelunopdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 32vh;
    bottom: -8vh;
}
.cartelunopdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 32vh;
    bottom: -14vh;
}
.carteldospdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 72.8vh;
    bottom: -81vh;
}
.carteldospdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 72.8vh;
    bottom: -87vh;
}
.carteltrespdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 112.5vh;
    bottom: -81vh;

}
.carteltrespdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 112.5vh;
    bottom: -87vh;

}
.cartelcuatropdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 152.4vh;
    bottom: -81vh;

}
.cartelcuatropdosdos{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 152.5vh;
    bottom: -87vh;

}
.pcartelunopdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 34vh;
    bottom: -18vh;

}
.pcarteldospdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color: rgba(88, 86, 86);
    padding-left: 74vh;
    bottom: -91vh;
}
.pcarteltrespdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color:rgba(88, 86, 86);
    padding-left: 114vh;
    bottom: -91vh;
}
.pcartelcuatropdos{
    position: absolute;
    justify-content: left;
    font-size: 15px;
    color:rgba(88, 86, 86);
    padding-left: 154.5vh;
    bottom: -91vh;
}

.ubiuno{
    position: absolute;
    padding-left: 31.5vh;
    bottom: -91vh;
}
.ubidos{
    position: absolute;
    padding-left: 71.5vh;
    bottom: -91vh;
}

.ubitres{
    position: absolute;
    padding-left: 111.5vh;
    bottom: -91vh;
}
.ubicuatro{
    position: absolute;
    padding-left: 152vh;
    bottom: -91vh;
}
.divprecios{
    position: relative;
   
}
.preciouno{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 20%;
    left: 42vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;
    

}
.preciodos{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 20%;
    left: 82vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;

    
}
.preciotres{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 12%;
    left: 122vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.preciocuatro{
    margin: 0;
    position: absolute;
    margin-top: -33vh;
    top: 20%;
    left: 162vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 32px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.texfinalpdos{
    position: absolute;
    padding-top: 10vh;
    top:188vh;
}
.botonfinalpdos{
    margin: 0;
    position: absolute;
    top: 195vh;
    left: 182vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    padding-top: 5vh;
    padding-left: 588vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transform: scale(1);
    background-color: white;
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 60vh;
    height: 46px;
    padding: 2px 30px 2px 30px;
    color: rgb(41, 36, 36);
}
.botonfinalpdos:hover{
    transform: scale(1);
    background-color: rgb(41, 36, 36) ;
    border: 0.5vh solid rgb(41, 36, 36);
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:white ;
    font-size: 14px;
    
}
.botonfinalpdos{
    transition: background 0.3s;
                 transform: 0.2s;
}
.divimgtres{
    position: absolute;
    padding-top: 10vh;
    top:190vh;
    display: flex;
    justify-content: center;
    
}

.paginatresimguno{
    margin: 0;
    position: relative;
    top: -12vh;
    left: 60vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    width: 80vh;
    height: 58vh;
    border-radius: 10%;
    margin-top: 90vh;
    padding-left: 2vh;
    
}
.paginatresimgdos{
    margin: 0;
    position: absolute;
    top: 12vh;
    left: 155.5vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    width: 80vh;
    height: 58vh;
    border-radius: 10%;
    margin-top: 40vh;
    padding-left: 2vh;
    
}
.titulopagtres{
    position: absolute;
}
.textounopagtres{
    margin: 0;
    position: absolute;
    font-size: 7vh;
    top: 172vh;
    left: 36vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
    
}
.punopagtres{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    top: 190vh;
    left: 56vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.titulodospagtres{
    position: absolute;
}
.textodospagtres{
    margin: 0;
    position: absolute;
    font-size: 7vh;
    top: 232vh;
    left: 131.5vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
    
}
.pdospagtres{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 250vh;
    left: 156vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.textounopaginacuatro{
    position: absolute;
    padding-top: 137vh;
    font-size: 7vh;
}
.textodospaginacuatro{
    position: absolute;
    padding-top: 147vh;
    font-size: 7vh;
}
.punopagcuatro{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 292vh;
    left: 156vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.divpagcuatro{
    position: relative;
   
}
.numerouno{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 20%;
    left: 40vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.unotitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 36.5vh;
    bottom: -193vh;

}
.unop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 160vh;
    left: 77vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.numerodos{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 20%;
    left: 84vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.dostitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 80vh;
    bottom: -193vh;

}
.pagcuatrodosp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 160vh;
    left: 120vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.numerotres{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 12%;
    left: 128vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.trestitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 124vh;
    bottom: -193vh;

}
.pagcuatrotresp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 160vh;
    left: 164vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.numerocuatro{
    margin: 0;
    position: absolute;
    margin-top: 180vh;
    top: 20%;
    left: 172vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.cuatrotitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 168vh;
    bottom: -193vh;

}
.pagcuatrocuatrop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 160vh;
    left: 207.5vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.texfinalpcuatro{
    position: absolute;
    padding-top: 10vh;
    top:220vh;
}
.botonfinalpcuatro{
    transform: scale(1);
    margin: 0;
    position: absolute;
    top: 230vh;
    left: 182vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    padding-top: 5vh;
    padding-left: 588vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: white;
    border: 0.1vh solid black;
    border-radius: 60vh;
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:black;
}
.botonfinalpcuatro:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.1vh solid rgb(20, 20, 199);
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
}
.botonfinalpcuatro{
    transition: background 0.3s;
                 transform: 0.2s;
}
.titulounopaginacinco{
    position: absolute;
  
    width: 200vh;
    padding-top: 230vh;
    font-size: 7vh;
}
.titulodospaginacinco{
    position: absolute;
    width: 200vh;
    padding-top: 240vh;
    font-size: 7vh;
}
.textopagcinco{
    position: absolute;
    margin: 0 auto;
    
    padding-top: 262vh;
}
.divimgcinco{
    position: absolute;
    margin: 0 auto;
    left: 160vh;
    padding-top: 10vh;
    top:362.5vh;
    justify-content: center;
    
    
}
.paginacincoimg{
    margin: 0;
    position: relative;
    top: 8vh;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 70vh;
    height: 95vh;
    border-radius: 10%;
    margin-top: 90vh;
    padding-left: 0vh;
    
}
.divpagcinco{
    display: block;
    position: relative;
    
   
}
.okuno{
    margin: 0;
    position: absolute;
    margin-top: 276vh;
    top: 20%;
    left: 15vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.okunotitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 23vh;
    bottom: -279vh;

}
.okunop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 115vh;
    left: 63.2vh;
    transform: translate(-50%, -50%);
    padding-top: 260vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.okdos{
    margin: 0;
    position: absolute;
    margin-top: 300vh;
    top: 20%;
    left: 15vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.okdostitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 23vh;
    bottom: -303vh;

}
.okdosp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 263vh;
    left: 63.2vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.oktres{
    margin: 0;
    position: absolute;
    margin-top: 321vh;
    top: 12%;
    left: 15vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: rgb(41, 36, 36);
    border: 0.1vh solid rgb(41, 36, 36);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.oktrestitulo{
    position: absolute;
    justify-content: left;
    font-size: 30px;
    padding-left: 23vh;
    bottom: -324vh;

}
.oktresp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 285vh;
    left: 63.2vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}

.checkuno{
    position: absolute;
    padding-left: 12.5vh;
    bottom: -361vh;
    font-size: 5vh;
    color: white;
}
.checkdos{
    position: absolute;
    padding-left: 12.5vh;
    bottom: -385vh;
    font-size: 5vh;
    color: white;
}

.checktres{
    position: absolute;
    padding-left: 12.5vh;
    bottom: -406vh;
    font-size: 5vh;
    color:white;
}

.textounopaginaseis{
    position: absolute;
    padding-top: 345vh;
    font-size: 7vh;
}
.textodospaginaseis{
    position: absolute;
    padding-top: 355vh;
    font-size: 7vh;
}
.punopagseis{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 507vh;
    left: 156vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}

.numerounopagseis{
    margin: 0;
    position: absolute;
    margin-top: 568vh;
    top: 20%;
    left: 40vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.1vh solid white;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.numerounopagseis:hover{
    margin: 0;
    position: absolute;
    margin-top: 568vh;
    top: 20%;
    left: 40vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.1vh solid grey;
    filter: blur(4px);
    color-interpolation-filters: grey;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;

}

.unopagseistitulo{
    position: absolute;
    justify-content: left;
    font-size: 20px;
    padding-left: 32vh;
    bottom: -502vh;

}
.unoppagseis{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 536vh;
    left: 62vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}

.nombreunopagseis{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    font-size: 13.5px;
    top: -3vh;
    left: 51vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}

.numerodospagseis{
    margin: 0;
    position: absolute;
    margin-top:568vh;
    top: 20%;
    left: 83vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color:white;
    border: 0.1vh solid white;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.numerodospagseis:hover{
    margin: 0;
    position: absolute;
    margin-top: 568vh;
    top: 20%;
    left: 83vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.1vh solid grey;
    filter: blur(4px);
    color-interpolation-filters: grey;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;

}
.pagseisdostitulo{
    position: absolute;
    justify-content: left;
    font-size: 20px;
    padding-left: 76vh;
    bottom: -502vh;

}
.dosp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 536vh;
    left: 105vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.nombredospagseis{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    font-size: 13.5px;
    top: -3vh;
    left: 52vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.numerotrespagseis{
    margin: 0;
    position: absolute;
    margin-top: 568vh;
    top: 20%;
    left: 128vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color:white;
    border: 0.1vh solid white;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.numerotrespagseis:hover{
    margin: 0;
    position: absolute;
    margin-top: 568vh;
    top: 20%;
    left: 128vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.1vh solid grey;
    filter: blur(4px);
    color-interpolation-filters: grey;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;

}
.pagseistrestitulo{
    position: absolute;
    justify-content: left;
    font-size: 20px;
    padding-left: 120vh;
    bottom: -502vh;

}
.tresp{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 536vh;
    left: 150vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.nombretrespagseis{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    font-size: 13.5px;
    top: -3vh;
    left: 49vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 5vh;
}
.numerocuatropagseis{
    margin: 0;
    position: absolute;
    margin-top: 568vh;
    top: 20%;
    left: 172vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.1vh solid white;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;
}
.numerocuatropagseis:hover{
    margin: 0;
    position: absolute;
    margin-top: 568vh;
    top: 20%;
    left: 172vh;
    transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.1vh solid grey;
    filter: blur(4px);
    color-interpolation-filters: grey;
    border-radius: 10%;
    height: 250px;
    width: 260px;
    padding: 2px 20px 2px 20px;
    color: white;

}
.pagseiscuatrotitulo{
    position: absolute;
    justify-content: left;
    font-size: 20px;
    padding-left: 164vh;
    bottom: -502vh;


}
.cuatrop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 536vh;
    left: 194vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.pagseiscuatro{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    font-size: 13.5px;
    top: -3vh;
    left: 51vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}

.paginaseisuno{
    margin: 0;
    position: absolute;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-top:4vh;
    left: 0.9vh;
    padding-left: 0.1vh; 
}
.paginaseisdos{
    margin: 0;
    position: absolute;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-top:4vh;
    left: 2vh;
    padding-left: 0.1vh; 
}
.paginaseistres{
    margin: 0;
    position: absolute;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-top:4vh;
    left: 1vh;
    padding-left: 0.1vh; 
}
.paginaseiscuatro{
    margin: 0;
    position: absolute;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    margin-top:4vh;
    left: 1vh;
    padding-left: 0.1vh; 
}
.divimgsiete{
    position: absolute;
    margin: 0 auto;
    left: 56vh;
    padding-top: 10vh;
    top:590vh;
    justify-content: center;
    
    
}
.paginasieteimg{
    margin: 0;
    position: relative;
    top: 6vh;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 70vh;
    height: 89vh;
    border-radius: 10%;
    margin-top: 90vh;
    padding-left: 0vh;
    
}
.textounopaginasiete{
    position: absolute;
    left: 82vh;
    padding-top: 451.5vh;
    font-size: 8vh;
}
.textodospaginasiete{
    position: absolute;
    left: 82vh;
    padding-top: 461.5vh;
    font-size: 8vh;
}
.punopagsiete{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 633vh;
    left: 134.5vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 2vh;
}
.botonpaginasiete{
    position: relative;
    
    padding-right: 16vh;
    
}
.botonunopaginasiete{
    margin: 0;
    position: absolute;
    top: 503vh;
    left: 94vh;
    transform: translate(-50%, -50%);
    justify-content: left;
    padding-top: 5vh;
    padding-left: 592vh;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    transform: scale(1);
    background-color: rgb(20, 20, 199);
    border: 0.1vh solid rgb(20, 20, 199);
    border-radius: 60vh;
    height: 46px;
    padding: 2px 30px 2px 30px;
    color: white;
}
.botonunopaginasiete:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.5vh solid rgb(20, 20, 199);
    height: 46px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
    font-size: 14px;
    
}
.botonunopaginasiete{
    transition: background 0.3s;
                 transform: 0.2s;
}
.divdospagsiete{
    display: flex;
    justify-content: center;
    
    
}
.paginasieteunoimg{
    margin: 0;
    position: absolute;
    width: 34vh;
    height: 34vh;
    left: 127vh;
    border-radius: 10%;
    margin-top: 518.5vh;
    margin-left: 2vh;
    padding-left:2vh;
    
}
.paginasietedosimg{
    margin: 0;
    position: absolute;
    width: 34vh;
    height: 34vh;
    left: 90vh;
    border-radius: 10%;
    margin-top: 518.5vh;
    margin-left: 2vh;
    padding-left:2vh;
    
}
.paginasietetresimg{
    margin: 0;
    position: absolute;
    width: 34vh;
    height: 34vh;
    left: 164vh;
    border-radius: 10%;
    margin-top: 518.5vh;
    margin-left: 2vh;
    padding-left:2vh;
    
}
.pagochop{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    width: 500px;
    top: 733vh;
    left: 61.5vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 30vh;
    padding-left: 1vh;
}
.unopagocho{
    margin: 0;
    position: absolute;
    bottom: 8vh;
}
.dospagocho{
    margin: 0;
    position: absolute;
    bottom: 5vh;
}
.trespagocho{
    margin: 0;
    position: absolute;
    bottom: 2vh;
}


.pagsietedostitulo{
    position: absolute;
    justify-content: left;
    font-size: 20px;
    color: black;
    padding-left: 72vh;
    bottom: 14vh;
    width: 500px;

}
.pagsietetrestitulo{
    position: absolute;
    justify-content: left;
    font-size: 20px;
    color: black;
    padding-left: 116vh;
    bottom: 14vh;
    width: 500px;
}
.pagsietecuatrotitulo{
    position: absolute;
    justify-content: left;
    font-size: 20px;
    color: black;
    padding-left: 160vh;
    bottom: 14vh;
    width: 500px;
}
.activosieteuno{
    position: absolute;
    justify-content: left;
    font-size: 17px;
    bottom: 10vh;
    left:68vh;
    padding-left: 116vh;
    color: black;
    padding-left: 5vh;
}
.activosietedos{
    position: absolute;
    justify-content: left;
    font-size: 17px;
    bottom: 6vh;
    left: 68vh;
    width: 500px;
    padding-left: 116vh;
    color: black;
    padding-left: 5vh;
}
.activosietetres{
    position: absolute;
    justify-content: left;
    font-size: 17px;
    bottom: 2vh;
    left: 68vh;
    width: 500px;
    padding-left: 116vh;
    color: black;
    padding-left: 5vh;
}
.activosietecuatro{
    position: absolute;
    justify-content: left;
    font-size: 17px;
    bottom: -2vh;
    left: 68vh;
    width: 500px;
    padding-left: 116vh;
    color: black;
    padding-left: 5vh;
}
.direccionpagocho{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    font-size: 15px;
    width: 500px;
    top: -23vh;
    left: 161vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.telefonopagocho{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    font-size: 15px;
    width: 500px;
    top: -25vh;
    left: 161vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}

.emailpagocho{
    margin: 0;
    position: absolute;
    color:rgba(88, 86, 86);
    font-size: 15px;
    width: 500px;
    top: -20.5vh;
    left: 161vh;
    transform: translate(-50%, -50%);
    padding-top: 10vh;
    justify-content: left;
    margin-top: 40vh;
    padding-left: 1vh;
}
.ubipagocho{
    position: absolute;
    padding-left: 116vh;
    bottom: 9vh;
    color: black;
}
.telpagocho{
    position: absolute;
    padding-left: 116vh;
    bottom: 2.5vh;
    color: black;
}
.gmailpagocho{
    position: absolute;
    padding-left: 116vh;
    bottom: -2vh;
    color: black;
}
.divinputpagocho{
    position: absolute;
  
    
    
    padding: 0 2vh 0 3vh;

}
.inputpagocho{
    position: absolute;
    justify-content: left;
    font-size: 12px;
    width: 5px;
    height: 5px;
    background-color: rgb(247, 241, 241)  ;
    left: 159vh;
    padding-top: 6vh;
    padding-left: 30vh;
    bottom: -1vh;
    border: 0.1vh solid  black ;
    border-radius: 60vh;   
}
.divdebotonpagocho{
    
    display: flex;
    justify-content: right;
    padding-right: 16vh;
    padding-top: 5vh;
    

}

.botonpagocho{
    position: absolute;
    top: 18.5vh;
    left: 160vh;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transform: scale(1);
    background-color: rgb(20, 20, 199);
    border: 0.1vh solid rgb(20, 20, 199);
    border-radius: 60vh;
    height: 40px;
    width: 185px;
    padding: 2px 30px 2px 30px;
    color: white;

}
.botonpagocho:hover{
    transform: scale(1);
    background-color: white ;
    border: 0.3vh solid rgb(20, 20, 199);
    height: 40px;
    padding: 2px 30px 2px 30px;
    color:rgb(20, 20, 199) ;
    
}
.larkhomes{
    margin: 0;
    position: relative;
    top: 17vh;
    left: 18vh;
    border-radius: 10%;
    transform: translate(-50%, -50%);
    justify-content: left;
    width: 16vh;
    height: 10vh;
    margin-top: -29vh;
    padding-left: 2vh;
    
}
.larkhomesdos{
    margin: 0;
    position: relative;
    top: -5vh;
    left: 5.8vh;
    border-radius: 10%;
    transform: translate(-50%, -50%);
    justify-content: left;
    width: 16vh;
    height: 10vh;
    margin-top: -29vh;
    padding-left: 2vh;
    
}

a:hover{
    animation: backwards;
}

a:link{text-decoration: none;
        }

::placeholder{
    color: rgb(128, 122, 122);
    position: absolute;
    left: 5vh;
    top:2.5vh;
}